.advice {

    &__title {
        background-color: #FFFFFF;
        font-family: 'Gotham Pro Bold', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 1.33;
        text-transform: uppercase;
        color: #131313;
        padding: 85px 0;
    }

    &__wrap {
        background-color: #F6F6F7;
        padding-top: 100px;
        padding-bottom: 130px;
    }

    &__description {
        color: #000000;
        position: relative;
        padding-left: 60px;

        &:before {
            content: '';
            border-left: 5px solid #FF0100;
            height: 140%;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0%, -50%);
        }
    }

    &__group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 120px -10px 60px;
    }

    &__item {
        width: 348px;
        height: 450px;
        background-color: #ffffff;
        border: 1px solid #EBEBEB;
        margin-bottom: 60px;
        margin: 10px;
    }

    &__img-wrap {
        width: 100%;
        height: 220px;
        position: relative;
        overflow: hidden;
        border-bottom: 1px solid #EBEBEB;
    }

    &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        transform: translate3d(-50%, -50%, 0px);
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px 25px 25px 25px;
        width: 100%;
    }

    &__heading {
        font-size: 20px;
        line-height: 1.5;
        color: #131313;
        overflow: hidden;
        position: relative;
        //text-overflow: ellipsis;
        padding-bottom: 37px;
        height: 140px;
        margin-bottom: 10px;

        &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 40px;
            background: linear-gradient(180deg, transparent, #ffffff 100%);
        }
    }

    &__content-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__date,
    &__count {
        font-size: 12px;
        line-height: 1.66;
        color: #767676;
    }

    &__count {
        padding-left: 26px;
        position: relative;
        cursor: pointer;

        &:before {
            content: '';
            background-image: url(../img/show.svg);
            width: 18px;
            height: 18px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0%, -50%);
        }
    }
}


.pagination {
    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__info {
        font-size: 16px;
        line-height: 1.88;
        color: #8D8D8D;
    }

    &__page {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #C1C1C1;
        border-radius: 100%;
        font-family: 'Gotham Pro Bold', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 1;
        text-align: center;
        color: #C1C1C1;
        width: 50px;
        height: 50px;
        margin: 0 -6px;
        cursor: pointer;

        &:not(:nth-last-child(-n+2)) {
            margin-right: 8px;
        }

        &_active {
            color: #FF0100;
            border: 1px solid #FF0100;
        }

        &:hover {
            color: #FF0100;
            border: 1px solid #FF0100;

        }
    }

    &__arrow {
        border: solid #828282;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 4px;
        margin: 0 20px;

        &_prev {
            transform: rotate(135deg);
        }

        &_next {
            transform: rotate(-45deg);
        }

        &:hover {
            border: solid #FF0100;
            border-width: 0 3px 3px 0;
        }
    }
}

@media (max-width: 1144px) {
    .advice {
        &__group {
            justify-content: space-around;
        }
    }
}

@media (max-width: 768px) {
    .pagination {
        &__info {
            display: none;
        }

        &__block {
            justify-content: center;
        }
    }

}

@media (max-width: 425px) {
    .advice {
        &__wrap {
            padding-top: 42px;
            padding-bottom: 61px;
        }

        &__group {
            margin: 67px 0px 50px;
        }

        &__item {
            margin: 10px 0;
        }

        &__content {
            padding: 25px;
        }

        &__title {
            padding: 40px 0;
            font-size: 22px;
            line-height: 1.36;
        }

        &__description {
            font-size: 14px;
            line-height: 1.71;
            padding-left: 19px;

            &::before {
                height: 110%;
            }
        }

        &__heading {
            font-size: 18px;
        }
    }
    .pagination {
        &__page {
            font-size: 18px;
            line-height: 1.11;
            width: 40px;
            height: 40px; }
    }
   
}