.bankruptcy {
    padding-bottom: 68px;

    &__title {
        font-family: 'Gotham Pro Bold', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 1.68;
        text-transform: uppercase;
        color: #131313;
        padding-bottom: 40px;
    }

    &__description {
        font-size: 14px;
        line-height: 1.71;
        color: #000000;
        padding-left: 20px;
        position: relative;

        &:before {
            content: '';
            border-left: 3px solid #FF0100;
            height: 110%;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0%, -50%);
        }
    }

    &__form-wrap {
        background: #FFFFFF;
        padding-bottom: 40px;
        box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.06);

    }

    &__form {
        &:before {
            content: '';
            border-top: 2px solid #E3171F;
            width: 100%;
            display: block;
            margin-top: -9px;

        }
    }

    &__wrap-btn {
        height: 42px;
        background: #FFFFFF;
        border: 1px solid #EBEBEB;
        box-sizing: border-box;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px;
    }

    &__btn {
        border: none;
        width: 23px;
        height: 23px;
        border-radius: 50%;

        &_minus {
            background-image: url(../img/minus-btn.svg);
            background-repeat: no-repeat;
            background-size: cover;
        }

        &_plus {
            background-image: url(../img/plus-btn.svg);
            background-repeat: no-repeat;
            background-size: cover;
        }

        &__value {
            font-family: 'Gotham Pro', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 1.4;
            color: #131313;
            padding: 0 37px;
            background-color: #F9F9F9;
            border: none;
            padding-left: 26px;
        }
    }

    &__form-title {
        font-size: 15px;
        line-height: 1.4;
        color: #131313;
        text-align: center;
        margin-top: 36px;
        margin-bottom: 26px;
    }

    &__form-text {
        font-size: 13px;
        line-height: 1.4;
        color: #131313;
        margin-bottom: 6px;
    }

    &__wrap-btn {
        margin-bottom: 30px;
    }

    &__btn-along {
        display: block;
        font-family: 'Gotham Pro Bold', sans-serif;
        font-style: normal;
        font-weight: normal;
        border: none;
        width: 180px;
        height: 45px;
        background: #FFFFFF;
        border: 2px solid #E3151F;
        border-radius: 80px;
        font-size: 15px;
        line-height: 45px;
        color: #E3151F;
        margin: 11px auto;
    }

    &__value {
        border: none;
        width: 80%;
        outline: none;
        text-align: center;
        margin: 0 -105px;
    }

}

.how-we {
    background: #F6F6F7;
    padding: 42px 0;

    &__title {
        font-size: 14px;
        line-height: 1.5;
        text-align: center;
        text-transform: uppercase;
        color: #131313;
        margin-bottom: 30px;
    }

    &__advantage {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
    }

    &__svg-wrap {
        width: 24px;
        height: 36px;
    }

    &__svg {
        width: inherit;
        height: inherit;

    }

    &__text {
        font-size: 13px;
        line-height: 1.38;
        color: #000000;
        margin-left: 18px;
        max-width: 220px;
    }
}