.footer {
    background-color: #181818;
    padding-top: 84px;
    padding-bottom: 119px;

    &__logo {
        display: block;
        margin-bottom: 55px;
        width: 252px;
        height: 37px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 80%;
    }

    &__nav-group {
        width: 33%;
        margin-bottom: 55px;
    }

    &__nav-title {
        font-family: 'Gotham Pro Bold', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 1.4;
        text-transform: uppercase;
        color: #E31E24;
        margin-bottom: 14px;
    }

    &__nav-item {
        &:not(:last-child) {
            margin-bottom: -4px;
        }
    }

    &__nav-link {
        font-size: 13px;
        line-height: 1.38;
        color: #FFFFFF;

    }

    &__data {
        display: flex;
        flex-direction: column;
    }

    &__phone-wrap {
        display: flex;
        flex-direction: column;
        margin-bottom: 42px;
    }

    &__phone-text,
    &__requisites-text {
        font-family: 'Gotham Pro Bold', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 1.38;
        text-transform: uppercase;
        color: $main-color-text;
        position: relative;
        margin-bottom: 10px;

    }

    &__phone-text {
        &:before {
            content: '';
            background-image: url(../img/call.svg);
            background-repeat: no-repeat;
            width: 18px;
            height: 18px;
            position: absolute;
            top: 0;
            left: -29px;

        }
    }

    &__requisites-text {
        &:before {
            content: '';
            background-image: url(../img/requisites.svg);
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 0;
            left: -33px;

        }
    }
    &__requisites-group {
        margin-top: 10px;
    }
    &__requisite {
        font-size: 14px;
        line-height: 1.57;
        color: #FFFFFF;
        margin-bottom: 4px;
    }

    &__phone {
        font-size: 14px;
        line-height: 1.57;
        color: #FFFFFF;
        white-space: nowrap;
    }
}