.questiones {
    padding-bottom: 100px;

    &__title {
        font-family: 'Gotham Pro Bold', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 1.33;
        text-transform: uppercase;
        color: #131313;
        padding: 85px 0;
    }

    &__group {
        margin-bottom: 90px;
    }

    &__item {
        padding-bottom: 10px;
    }


    &__name {
        max-width: 1114px;
        min-height: 70px;
        font-family: 'Gotham Pro Bold', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 1.62;
        text-transform: uppercase;
        color: #232323;
        background-color: #FAFAFA;
        display: flex;
        align-items: center;
        padding: 10px 80px 10px 40px;
        outline: 1px solid #FAFAFA;
        position: relative;
        cursor: pointer;

        &:after {
            content: '';
            width: 12px;
            height: 12px;
            border-top: 3px solid #232323;
            border-right: 3px solid #232323;
            margin-right: 14px;
            transform: rotate(135deg);
            border-radius: 2px;
            position: absolute;
            top: 50%;
            right: 40px;
            transform: translate(0% -50%);
        }
    }

    &__text {
        font-family: 'Gotham Pro Light', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 1.53;
        color: #232323;
        padding: 40px;
    }

    &__item[open]>&__name {
        color: #FFFFFF;
        background-color: #E3151F;

        &:after {
            transform: rotate(-45deg);
            border-top: 3px solid #FFFFFF;
            border-right: 3px solid #FFFFFF;
        }


    }

    &__form-wrap {
        margin-bottom: 27px;
    }

    &__form-title {
        font-family: 'Gotham Pro Bold', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 1.07;
        color: #232323;
        margin-bottom: 12px;

        &_accent {
            color: #E3151F;

        }
    }

    &__form-text {
        display: block;
        font-size: 16px;
        line-height: 1.5;
        color: #232323;
        margin-bottom: 35px;
    }

    &__form-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    &__input-text {
        width: 100%;
        height: 57px;
        background: #FFFFFF;
        border: 0.5px solid #949494;
        border-radius: 5px;
        padding: 0 26px;

        &:first-child {
            margin-right: 20px;
        }
    }

    &__input-textarea {
        width: 100%;
        height: 175px;
        background: #FFFFFF;
        border: 0.5px solid #949494;
        border-radius: 5px;
        padding: 18px 26px;
    }

    &__input-btn {
        margin: 0 auto;
        display: block;
        background: #E3151F;
        border-radius: 80px;
        text-transform: uppercase;
        border: none;
        font-family: 'Gotham Pro Bold', sans-serif;
        font-style: normal;
        font-weight: normal;
        color: #FFFFFF;
        font-size: 14px;
        line-height: 1.43;
        padding: 20px 60px;
        text-align: center;
    }

}

@media (max-width: 768px) {
    .questiones {
        &__title {
            font-size: 30px;
            padding: 60px 0;
        }

        &__name {
            font-size: 17px;
            text-transform: none;
        }
    }
}

@media (max-width: 425px) {
    .questiones {
        &__title {
            font-size: 22px;
            line-height: 1.36;
            padding-top: 10px;
            padding-bottom: 30px;
        }

        &__name {
            font-size: 17px;
            text-transform: none;
            padding: 10px 80px 10px 15px;
            &:after {
                right: 15px;
            }
        }

        &__group {
            margin-bottom: 47px;
        }

        &__text {
            font-size: 14px;
            line-height: 1.71;
            padding: 20px;
        }
        &__form-title {
            font-size: 24px;
        }
        &__form-row {
            flex-wrap: wrap;
            margin-bottom: 10px;
        }
        &__input-text {
            &:first-child {
                margin-right: 0;
                margin-bottom: 10px;
            }
        }
    }
}